* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.wrapper {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

.or {
    padding: 35px 20px;
    position: relative;
}

.or:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #adadad;
    border-radius: 20px;
    display: block;
}

.or span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    color: #a3a3a3;
    padding: 0 10px;
}

.primaryColor,
.secondaryColor {
    padding: 0 10px;
    cursor: pointer;
    font-weight: bold;
}

.primaryColor {
    color: #0d6efd;
}

.secondaryColor {
    color: #172f80;
}

.form-control {
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    box-shadow: none !important;
    height: 40px;
}

.footer {
    bottom: 0;
    height: 2.5rem;
    margin-top: 50px;
}

.footer ul {
    text-align: center;
}

.footer ul li {
    display: inline;
    margin-right: 5px;
}

.footer ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #00376b;
}
.footer p {
    margin: 10px 0;
    text-align: center;
    color: #8e9096;
    font-size: 14px;
}


@media (max-width: 800px) {
    .firstContainer {
        display: none;
    }

    .secondContainer {
        max-width: 350px;
        margin: 0 auto;
        width: 90%;
    }
}